<div class="grid">
  <h1 class="mat-headline">Top 10 Posts</h1>

  <mat-spinner *ngIf="!posts.length" mode="indeterminate"></mat-spinner>

  <mat-grid-list [cols]="breakpoint" rowHeight="300px" (window:resize)="setBreakpoint()">
    <mat-grid-tile *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="grid">
  <h1 class="mat-headline">Top 10 Photos</h1>

  <mat-spinner *ngIf="!photos.length" mode="indeterminate"></mat-spinner>

  <mat-grid-list [cols]="breakpoint" rowHeight="300px" (window:resize)="setBreakpoint()">
    <mat-grid-tile *ngFor="let photo of photos">
      <app-photo [photo]="photo"></app-photo>
    </mat-grid-tile>
  </mat-grid-list>
</div>


