.content {
  width: 85%;
  margin: 10% auto;
  max-width: 600px;
  box-sizing: border-box;

  h1.mat-headline {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    textarea {
      height: 100px;
    }

    mat-form-field {
      margin-bottom: 10px;
    }
  }
}
