<div class="gallery">
  <h1 class="mat-headline">Gallery</h1>

    <mat-spinner *ngIf="!photos.length" mode="indeterminate"></mat-spinner>

    <mat-paginator [length]="photos.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)"
                   [ngStyle]="{'background-color': backgroundColor}"
    ></mat-paginator>
  <mat-grid-list rowHeight="300px" [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let photo of pageSlice">
      <app-photo [photo]="photo"></app-photo>
    </mat-grid-tile>
  </mat-grid-list>
</div>
