.posts {
  margin: 0 auto;

  .add-post {
    display: block;
    margin: 20px auto;
  }

  .mat-headline {
    text-align: center;
    font-size: 2rem;
  }

  mat-spinner {
    margin: 0 auto;
    transform: translateY(150%);
  }
}
